<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends 'base.html'%}
    {% block content %}
    <h2 class="mb-4 text-center">Welcome to Student Feedback portal</h2>
    <div class="row justify-content-center">
        <div class="=col-md-6">
            <img src="static\img\college Image.jpeg" class="card-image-top" alt="college Image">
            <div class="card-body">
                <h5 class="card-title">educational Institute</h5>
                <p class="card-text">
                    text

                </p>
                <ul class="list-group list-group-flush mb-3">
                    <li class="list-group-item">💻computer</li>
                    <li class="list-group-item">💻</li>
                    <li class="list-group-item">💻</li>
                    <li class="list-group-item">💻</li>
                    <li class="list-group-item">💻</li>
                </ul>
                <a href="/feedback" class="btn btn-primary">submit feedback</a>
                <a href="/feedback" class="btn btn-primary">Admin Panel</a>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>